body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2e2e2e;
    font-size: 1.4rem;
}

h1 {
    color: goldenrod;
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    margin: 0;
    font-size: 2em;
}


h1 svg {
    width: 60px;
    fill: goldenrod;
    padding: 20px; 
}

#header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 6px 30px;
}

#buttons{
    text-align: right;

}

#info{
    color: goldenrod;
    margin-left: 20px;
    
}

button{
    background:rgba(255,255,255,.2);
    border:0;
    color:whitesmoke;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div.word{
    display:inline-block;
    margin: 0 5px;

}

div#game {
    line-height:35px;
    height:105px;
    overflow: hidden;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
}




#focus-error{
    position: absolute;
    inset: 0;
    color: white;
    text-align: center;
    padding-top: 35px;
}

#words{
    filter: blur(5px);
    color:  #666;

}

#game:focus #words{
    filter: blur(0px);
}

#game:focus #focus-error{
    display: none;
}

.letter.correct{
    color: white;
}
.letter.incorrect{
    color: red;
}

@keyframes blink{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#cursor{
    width: 2px;
    height: 1.6rem;
    background: goldenrod;
    position: fixed;
    top: 187px;
    left: 60px;
    animation: blink 0.3s infinite;
    display: none;
}

#game:focus #cursor{
    display: block;
}

div#game:focus{
    outline: 0;
}

#game:focus #cursor{
    display: block;
}
#game.over #words{
    opacity: .5;
    filter: blur(0px);
}
#game.over:focus #cursor{
    display:none;
}
#game.over #focus-error {
    display: none;
}

.container {
    width: 60%;
    
}

.container .wrapper {
    min-width: 750px;
    max-width: 1000px;
    border-radius: 20px;
    padding: 20px; 
    background: rgba(255, 255, 255, 0.1); 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
    border: 1px solid rgba(255, 255, 255, 0.3); 
}

.wrapper .keys {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

.wrapper .keys input {
    height: 45px; 
    width: 45px;  
    padding: 10px;
    margin: 5px;  
    border-radius: 8px;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.3); 
    font-size: 18px; 
    color: white;
    background: rgba(255, 255, 255, 0.1); 
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;


}

.wrapper .keys input:hover {
    background: rgba(255, 255, 255, 0.2); 
    transform: scale(1.2);
}

.wrapper .keys input[value="space"] {
    width: 35%; 
    background: rgba(231, 60, 3, 0.2); 
    color: white;
}

.active{
    background: lightblue;
    transform: scale(1.2);
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.8), 0 0 30px rgba(0, 255, 255, 0.6);

}

.title{
    color: aqua;
    position: relative;
    

}

.keyboard{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    flex-direction: column;
}


.text-container {
    display: none; 
    padding: 20px;
    text-align: center;
    height: auto;
}

.text-container.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    padding: 0;
    margin: 0;
}

.text-container canvas {
    width: 100%;
    max-width: 1000px;
    height: 60vh;
    max-height: 400px;
    transform: translateY(-10vh); 


}

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.wpm-stat {
    font-size: 2em; 
    color: goldenrod; 
    margin: 0;
}

.accuracy-stat {
    font-size: 2em; 
    color: #ffffff; 
    margin: 0;
}

.chart-and-stats {
    width: 100%;
    max-width: 800px; 
}





